

<div th:fragment="copy">
	<footer>
        <p>© The Tasks 2017</p>
    </footer>
</div>

<div th:fragment="column(tasks, title)">
	<h4 th:text="${title}" />
	<table th:if="${not #lists.isEmpty(tasks)}" border="1">
	     <tr>
	     	<th>name</th>
			<th>desrtiption</th>
			<th>due date</th>
	        <th>edit</th>
	        <th>remove</th>
	    </tr>
	    <tr th:each="task : ${#lists.sort(tasks)}">
	        <td>
	           <div data-toggle="tooltip" data-placement="left" th:attr="title=${task.desc}">
	                <span th:text="${task.name}" />
                </div>
	            <span th:each="label: ${#lists.sort(task.labels)}" th:text="${label.description}"
                	                th:style="'color:'+${label.colour}" />
	        </td>
			<td>
				<span th:text="${task.desc}" />
			</td>
			<td>
				<span th:text="${task.dueDate}" />
			</td>
            <td>
                <p class="text-center">
                    <a th:href="@{'/editTask?taskId=' + ${task.id}}" class="btn btn-primary btn">edit</a>
                </p>
                 <td>
                    <p class="text-center">
                        <a th:href="@{'/deleteTask?taskId=' + ${task.id} + '&userName=' + ${task.userName}}" data-method="delete" class="btn btn-primary btn">delete</a>
                    </p>
                </td>
            </td>

	    </tr>
	</table>
</div>
