<label th:text="${task}" />
<form action="#" th:action="@{/editTask}" th:object="${task}" method="post">
    <table border="1">
        <tr>
            <td><label th:text="name" /></td>
            <td><input type="text" th:field="*{name}" th:value="${task.name}" /></td>
        </tr>
        <tr>
            <td><label th:text="description" /></td>
            <td><input type="text" th:field="*{desc}" /></td>
        </tr>
         <tr>
            <td><label th:text="zrobione" /></td>
            <td>               <select th:field="*{done}">
                                        <option value="false">do zrobienia</option>
                                        <option value="true">zrobiony</option>
                                    </select>

            </td>

        </tr>
        <tr>
            <td><label  id="date-started" th:text="data" /></td>
            <td> <input type="date" th:field="*{dueDate}" id="date-started"/></td>
        </tr>
        <tr>
            <td>Labelki</td>
            <td>

          

                <ul>
                    <li th:each="label : ${#lists.sort(allLabels)}">
                        <input type="checkbox" th:field="*{labels}" th:value="${label}" />
                        <label th:for="${#ids.prev('labels')}"
                               th:text="${label.description}"/>
                    </li>
                </ul>

            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
    <input type="hidden" th:field="*{id}">
</form>


