<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/template">

<head>
    <title>User not exist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container" layout:fragment="content">
    <form action="/" th:object="${user}" method="POST" enctype="utf8">
        <div class="form-group">
            <label th:text="#{label.user.nickname}">first</label>
            <input th:field="*{nickname}"/>
            <p th:each="error: ${#fields.errors('nickname')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label th:text="#{label.user.firstName}">first</label>
            <input th:field="*{firstName}"/>
            <p th:each="error: ${#fields.errors('firstName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label th:text="#{label.user.secondName}">last</label>
            <input th:field="*{secondName}"/>
            <p th:each="error : ${#fields.errors('secondName')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label th:text="#{label.user.email}">email</label>
            <input type="email" th:field="*{email}"/>
            <p th:each="error : ${#fields.errors('email')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label th:text="#{label.user.password}">password</label>
            <input type="password" th:field="*{password}"/>
            <p th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label th:text="#{label.user.confirmPass}">confirm</label>
            <input type="password" th:field="*{matchingPassword}"/>
        </div>
        <button type="submit" class="btn btn-primary"  th:text="#{label.form.submit}">submit</button>
    </form>

    <a th:href="@{/login.html}" th:text="#{label.form.loginLink}">login</a>
</div>
</body>

</html>