<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/template">

<head>
    <title>Register form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div layout:fragment="content">

    <div class="jumbotron">
        <div class="container">
            Register info
        </div>
    </div>

    <div class="container">
        <form action="/user/registration" th:object="${user}" method="POST" enctype="utf8">
            <div class="form-group row">
                <label th:text="#{label.user.nickname}" class="col-sm-2 col-form-label">nick</label>
                <div class="col-sm-10">
                    <input th:field="*{nickname}" class="form-control"/>
                </div>
                <p th:each="error: ${#fields.errors('nickname')}"
                   th:text="${error}">Validation error</p>
            </div>
            <div class="form-group row">
                <label th:text="#{label.user.firstName}" class="col-sm-2 col-form-label">first</label>
                <div class="col-sm-10">
                    <input th:field="*{firstName}" class="form-control"/>
                </div>
                <p th:each="error: ${#fields.errors('firstName')}"
                   th:text="${error}">Validation error</p>
            </div>
            <div class="form-group row">
                <label th:text="#{label.user.secondName}" class="col-sm-2 col-form-label">last</label>
                <div class="col-sm-10">
                    <input th:field="*{secondName}" class="form-control"/>
                </div>
                <p th:each="error : ${#fields.errors('secondName')}"
                   th:text="${error}">Validation error</p>
            </div>
            <div class="form-group row">
                <label th:text="#{label.user.email}" class="col-sm-2 col-form-label">email</label>
                <div class="col-sm-10">
                    <input type="email" th:field="*{email}" class="form-control"/>
                </div>
                <p th:each="error : ${#fields.errors('email')}"
                   th:text="${error}">Validation error</p>
            </div>
            <div class="form-group row">
                <label th:text="#{label.user.password}" class="col-sm-2 col-form-label">password</label>
                <div class="col-sm-10">
                    <input type="password" th:field="*{password}" class="form-control"/>
                </div>
                <p th:each="error : ${#fields.errors('password')}"
                   th:text="${error}">Validation error</p>
            </div>
            <div class="form-group row">

                <label th:text="#{label.user.confirmPass}" class="col-sm-2 col-form-label">confirm</label>
                <div class="col-sm-10">
                    <input type="password" th:field="*{matchingPassword}" class="form-control"/>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary float-right"  th:text="#{label.form.submit}">submit</button>
                </div>
            </div>

        </form>
    </div>
</div>
    <a th:href="@{/login.html}" th:text="#{label.form.loginLink}">login</a>
</div>
</body>

</html>