<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/template">
    <body>
        <div class = "container" layout:fragment="content">

            <div class="jumbotron">
                <div class="container">
                    <h2 th:text="${user.firstName + ' ' + user.secondName}"/>
                    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>

                    <!--<th:block th:insert="~{addTask :: addTaskModal}" />-->

                </div>
            </div>

            <div class="">
                <h1 th:text="Title" />
            </div>
            <div class="row">
                <div th:class="col-md-9" th:include="column :: column(${doing}, 'robione teraz')"></div>
            </div>

            <div class="row">
                <div th:class="col-md-9" th:include="column :: column(${nextToDo}, 'następne')"></div>
            </div>

            <div class="row">
                <div th:class="col-md-9" th:include="column :: column(${backlog}, 'backlog')"></div>
            </div>

            <div class="row">
                <div th:class="col-md-9" th:include="column :: column(${done}, 'zrobione')"></div>
            </div>
        </div>
    </body>
</html>